@use "../../scss/utils/mixins" as mx;
@use "../../scss/utils/variables" as var;
@use "../../scss/utils/functions" as *;

.section {
  @include mx.breakpoint(desktop) {
    width: 808px;
    height: 908px;
  }
}

.btn {
  margin-bottom: 24px;
}

.linksWrapper {
  overflow-y: auto;
  margin-bottom: 24px;

  height: 495px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: get-color("border");
    border-radius: var.$border-radius-xl;
  }

  &::-webkit-scrollbar-thumb {
    background-color: get-color("grey");
    border-radius: var.$border-radius-xl;
  }

  @include mx.breakpoint(tablet) {
    height: 565px;
  }

  @include mx.breakpoint(desktop) {
    height: 542px;
  }
}

.btnWrapper {
  padding-top: 16px;
  border-top: 1px solid get-color("border");

  @include mx.breakpoint(tablet) {
    padding-top: 24px;
  }

  > button {
    @include mx.breakpoint(tablet) {
      max-width: 96px;
      margin-left: auto;
    }
  }
}
